@media (min-width: 1120px) {
  body {
    width: calc(100em - 320px);
    position: relative;
    left: 320px;
  }

  .width-control {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__inner {
    display: none;
  }

  .header__upper-menu {
    display: none;
  }

  .header__logo::after {
    display: none;
  }
  .header__logo::before {
    display: none;
  }

  .header__logo {
    margin-left: 20px;
  }

  .main__title {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .position-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
  }

  .wrap-control {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .main__text-button {
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #1b1c21;
  }

  .button-work {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(../img/work-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ff3e79;
    border: none;
  }

  .button-search {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(../img/search-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ff3e79;
    border: none;
  }

  .main__menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 22px;
  }

  .main__menu-slider {
    width: 100%;
    overflow: visible;
    height: 82px;
  }

  .main__about-block {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    margin-right: 10px;
  }

  .main__info {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0, 2px;
    color: #1b1c21;
  }

  .main__readmore-block {
    margin-top: 5px;
  }

  .main__image {
    width: 100%;
    height: auto;
    max-height: 322px;
    object-fit: contain;
  }

  .swiper-container,
  .swiper-container1 {
    width: 1120px;
    height: auto;
    margin: 0 auto;
  }

  .content-header {
    width: 1120px;
    margin: 20px auto;
  }

  .services-content,
  .brand-content,
  .hardware-content {
    margin: 0 auto;
    width: 1120px;
    margin-bottom: 20px;
  }

  .brand-wrapper {
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 224px);
    grid-template-rows: repeat(2, 72px);
    grid-auto-rows: 0;
    overflow-y: hidden;
    gap: 24px;
    row-gap: 10px;
  }

  .hardware-wrapper {
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 224px);
    overflow-y: hidden;
    gap: 24px;
    row-gap: 10px;
  }

  .wrapper-show {
    height: 90%;
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-auto-rows: 72px;
    overflow-y: hidden;
    gap: 24px;
    row-gap: 10px;
  }

  .wrapper-show1 {
    height: 90%;
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 224px);
    grid-auto-rows: 160px;
    overflow-y: hidden;
    gap: 24px;
    row-gap: 10px;
  }

  .slide-hardware {
    width: 240px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: 20px center;
    border-radius: 6px;
    border: 1px solid #eaeaea;
  }

  .brand-showMore,
  .hardware-showMore {
    display: block;
    text-decoration: none;
    color: #1b1c21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 550;
    border: none;
    background: transparent;
    margin-left: 5px;
    align-self: start;
  }

  .services-table {
    width: 1120px;
    margin: 0 auto;
  }

  .services__tablet {
    width: 1120px;
    border-collapse: collapse;
    margin: 0 auto;
  }

  .services__price-info {
    width: 420px;
  }

  .services__offer {
    width: 1120px;
    margin: 20px;
    margin-left: 20px;
  }

  .side-menu {
    display: block;
  }
  .menu--desk {
    display: none;
  }

  .modal-callback {
    width: 440px;
    position: fixed;
    top: 10px;
    right: -1000px;
    height: 100vh;
    z-index: 1000;
    background-color: #fff;
    overflow-y: scroll;
  }

  .footer-info {
    width: 1120px;
    margin: 0 auto;
  }
}
