$text: #1b1c21;
$border: #d9fff5;
$shadow: #7e7e82;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.header {
  border-bottom: 1px solid;
  border-color: $border;
}

.header__inner {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 88px;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.round-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.round-icon--menu {
  background-image: url(../img/icon.png);
}

.header__logo::after {
  content: '';
  position: absolute;
  height: 32px;
  width: 2px;
  margin-left: 10px;
  margin-top: 15px;
  background-color: #eaeaea;
}

.round-icon--work {
  background-image: url(../img/work-icon.png);
}

.round-icon--search {
  background-image: url(../img/search-icon.png);
}

.header__left-side {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 25px;
}

.header__right-side {
  display: flex;
  gap: 15px;
}

.button-hidder {
  display: none;
}

.round-icon--call {
  background-image: url(../img/call.png);
}

.round-icon--chat {
  background-image: url(../img/chat-icon.png);
}

.round-icon--profile {
  background-image: url(../img/profile-icon.png);
}

.main__title {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 20px;
}

.main__text-button {
  display: none;
}

.main__h-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  margin-left: 20px;
  white-space: nowrap;
}

.main__h-title::before {
  content: '';
  position: absolute;
  left: -20px;
  width: 4px;
  height: 40px;
  background-image: url(../img/highlight.svg);
}

.main__menu-slider {
  overflow-x: auto;
  padding: 0;
  margin-top: 20px;
}

.main__menu-slider::-webkit-scrollbar {
  width: 0;
}

.main__menu-list {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 2%;
  width: 100%;
  white-space: nowrap;
  gap: 10px;
}

.main__menu-item {
  height: 40px;
  padding: 0;
  margin: 0;
}

.main__button {
  display: block;
  padding: 8px 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  height: 40px;
  border: 1px solid transparent;
}

.main__button:hover {
  border-color: $border;
  border-radius: 6px;
}

.main__about-block {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: auto;
}

.main__info {
  margin-left: 15px;
}

.main__text-control {
  height: 110px;
  overflow: hidden;
}

.main__paragraph {
  margin-left: 5px;
}

.main__readmore-block {
  margin-top: 10px;
}

.main__readmore-block {
  display: flex;
  text-decoration: none;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 550;
  border: none;
  background: transparent;
  margin-bottom: 20px;
}

.main__readmore-block::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/link-icon.png) no-repeat 50% 50%;
}

.main__image {
  width: 100%;
  object-fit: contain;
  height: auto;
  max-height: 322px;
  flex-grow: 1;
}

.pictures-fix {
  object-fit: contain;
  height: 44px;
  width: auto;
  max-width: 108px;
}

.content-header {
  border-top: 1px solid $border;
  width: auto;
  height: 56px;
  background-image: linear-gradient(0.25turn, #f8f8f8, #ffffff);
  margin-top: 20px;
}

.content-header__title {
  padding-left: 14px;
  padding-top: 16px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
}

.swiper-container {
  margin-top: 15px;
  width: 100%;
  height: auto;
  margin-left: 10px;
  overflow-x: hidden;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.swiper-slide {
  width: 240px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: 20px center;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}

.brand-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  background-color: #ffffff;
  height: 72px;
  width: 240px;
}

.round-icon--show {
  display: block;
  border: 1px solid #ff3e79;
  border-radius: 50%;
  background: url(../img/dropdown.svg) no-repeat center;
}

.swiper-pagination {
  position: relative;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

.brand-showMore,
.hardware-showMore {
  display: none;
}

.swiper-container1 {
  margin-top: 15px;
  width: auto;
  height: auto;
  margin-left: 10px;
  overflow-x: hidden;
}

.slide-hardware {
  width: 240px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: 20px center;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}

.swiper__link {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hardware__text {
  display: block;
  height: 80px;
  text-decoration: none;
  color: $text;
}

.services-table {
  display: none;
}

.swiper-container2 {
  margin-top: 15px;
  width: 100%;
  height: auto;
  margin-left: 10px;
  overflow-x: hidden;
}

.services-slide {
  width: 240px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.services-content__wraper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 180px;
  padding-left: 10px;
  padding-top: 10px;
}

.services-content__btn-order {
  display: flex;
  position: relative;
  left: -10px;
  bottom: 30px;
  border-radius: 16px;
  background-color: #ff3e79;
  min-height: 32px;
  width: 118px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  align-items: center;
  justify-content: space-around;
  align-self: flex-end;
}

.services-content__list {
  display: inline-block;
  color: #7e7e82;
  font-size: 14px;
  line-height: 16px;
}

.services-content__text {
  display: inline-block;
  white-space: normal;
  font-size: 14px;
}

.services__price-info {
  display: block;
  color: $text;
  font-size: 14px;
  margin-left: 20px;
}

.services__offer {
  text-decoration: none;
  white-space: normal;
  margin-top: 15px;
  width: 200px;
  margin-left: 20px;
}

.services__offer a {
  color: #1b1c21;
}

.side-menu {
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100%;
  max-height: 800px;
  background-color: #fff;
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 0;
}

.modal-off {
  display: none;
}

.side-menu__inner {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 88px;
  align-items: center;
  gap: 25px;
  justify-content: flex-start;
}

.menu-wrap {
  width: 222px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 26px;
  margin-left: 20px;
}

.round-icon--open {
  margin-left: 15px;
  background-image: url(../img/burgerOpen.svg);
}

.round-icon--find {
  margin-right: 15px;
  margin-left: auto;
  background-image: url(../img/burger-serch.svg);
}

.menu__item:target:before {
  content: '';
  width: 4px;
  height: 34px;
  background: url(../img/highlight-2.svg) no-repeat center;
  position: absolute;
  left: 1%;
  top: auto;
}

.menu__link {
  box-sizing: border-box;
  display: block;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  padding-top: 5px;
}

.side-menu__contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  justify-content: space-around;
}

.side-menu__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.side-menu__mail {
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  font-weight: 600;
}

.side-menu__phone {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  font-family: inherit;
}

.side-menu__phone a {
  color: #1b1c21;
}

.side-menu__lang {
  margin-top: 10px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
}

.lang-item {
  color: #1b1c21;
}

.lang-item:hover {
  color: #7e7e82;
}

.lang-item--active {
  color: #7e7e82;
}

.footer-info {
  width: auto;
  margin-top: 20px;
  border-top: 1px solid $border;
  text-align: center;
  display: flex;
  flex-direction: column;
  white-space: normal;
}

.footer-info__string {
  color: $shadow;
  font-size: 14px;
  padding-top: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eaeaea;
  z-index: 9;
  display: none;
  opacity: 0.9;
}

.overlay--on {
  display: block;
}

.modal-callback {
  width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 11;
  background-color: #fff;
}

.modal-callback__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.round-icon--off {
  background-image: url(../img/burgerOpen.svg);
  position: static;
}

.modal-callback__title {
  padding-left: 5px;
  font-size: 24px;
  line-height: 32px;
}

.modal-callback__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 75px;
  width: 4px;
  height: 40px;
  background-image: url(../img/highlight.svg);
}

.modal-callback__phone-call {
  height: 48px;
  width: 288px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 15px;
  color: #b5b6bc;
}

.modal-callback__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__text {
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  span {
    color: #ff3e79;
  }
}

.button-pretty {
  display: inline-block;
  border-radius: 16px;
  background-color: #ff3e79;
  background-image: url(../img/dropdown1.svg);
  background-repeat: no-repeat;
  background-position: 100px center;
  text-align: left;
  padding-left: 10px;
  height: 32px;
  width: 118px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.modal-feedback {
  width: 320px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
}

.modal-feedback__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.modal-feedback__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback--off {
  background-image: url(../img/burgerOpen.svg);
  position: static;
}

.modal-feedback__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 75px;
  width: 4px;
  height: 40px;
  background-image: url(../img/highlight.svg);
}

.modal__feedback-item {
  height: 48px;
  width: 288px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  color: #b5b6bc;
}

.modal-feedback__textarea {
  height: 118px;
  width: 288px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  color: #b5b6bc;
}
